// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colorscheme';

body {
  background: #fff;
  height: 100vh;
}

.ui.large.secondary.menu {
  z-index: 100;
  margin-top: 0 !important;
  background: $green;
  color: #fff;

  max-width: 100%;
  h1 {
    font-size: 3rem;
  }
  a {
    color: #fff;
  }
  .ui.item {
    cursor: pointer;
    color: #fff;
    opacity: 1;
    &:hover {
      opacity: 0.7;
    }

    .ui.header {
      color: #fff;
    }
  }
}

.ui.large.secondary.home.menu {
  background-color: rgba(80,172,111,0);
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: #000;
  background-size: cover; 
  opacity: 0.5;
}

.ui.masthead.segment {
  height: 100vh;
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  text-align: center;
  transform-style: preserve-3d;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  .inner {
    margin: auto;
    max-width: 722px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    h1 {
      font-size: 6rem;
      color: inherit;
      margin: auto;
      font-weight: normal;
    }
    .ui.input {
      padding: 1rem;
      font-size: 1.5rem;
      background: transparent;
      border: 2px solid #fff;
      border-radius: 3px;
      color: #fff;
      width: 100%;
      &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #fff;
        opacity: 0.9;
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #fff;
        opacity: 0.9;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #fff;
        opacity: 0.9;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #fff;
        opacity: 0.9;
      }
    }

    .ui.button {
      font-size: 1.5rem;
      padding-top: 1.3rem !important;
      padding-bottom: 1rem !important;
      width: 100%;
      border-radius: 3px;
      height: 100%;
    }
  }
}

.ui.pro.segment {
  border-radius: 0;
  border: none;
  box-shadow: none;
  background: $green;
  color: #fff;

  margin: 0;

  h1.ui.header {
    color: inherit;
    font-weight: normal;

    text-align: center;

    font-size: 5rem;
    font-family: "Source Sans Pro";

    .coming {
      font-weight: normal !important;
    }

    .logo {
      font-family: $logo-font;
    }
  }

  .box {
    background: #fff;
    padding: 1rem;
    height: 100%;
    
    h1.ui.header {
      padding-top: 1rem;
      font-size: 2.5rem;
      font-family: $logo-font;
      text-align: center;
      color: $green;
    }

    h2.ui.header {
      color: $green;
      text-align: center;
      border: 2px solid $green;
      border-radius: 3px;
      font-size: 1.5rem;
      padding: 1rem 0.5rem;
    }

    .ui.image {
      width: 100%;
      padding: 1rem;
    }

    .circle {
      width: 100%;
      border-radius: 100%;
      background: $green;
      padding: 1rem;

      &:before {
        content: '';
        padding: 50% 0;
        display: inline-block;
      }
    }
  }
}

.ui.features.segment {
  border-radius: 0;
  border: none;
  box-shadow: none;
  background: #fff;
  color: $green;

  margin: 0;

  h1.ui.header {
    color: inherit;
    font-weight: normal;

    text-align: center;

    font-size: 5rem;
    font-family: "Source Sans Pro";

    .coming {
      font-weight: normal !important;
    }

    .logo {
      font-family: $logo-font;
    }
  }

  .ui.image {
    width: 100%;
  }

  h2.ui.header {
    margin-top: 1rem;
    text-align: left;
    color: $green;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  p {
    color: $green;
    font-size: 1.5rem;
  }

  .six.wide.column {
    padding-top: 1rem;
    overflow: hidden;
  }
}
