// Place all the styles related to the Workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colorscheme";

.ui.workout.menu#main_menu {
  margin-bottom: 0;
}

.ui.new.segment {
  width: 100%;
  height: 500px;
  background: #000;

  border-radius: 0;
  margin: 0 !important;
  box-shadow: none;
  position: relative;
  overflow: hidden;

  .ui.container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 800px !important;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: image-url('running.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
  }

  h1.ui.header {
    margin: auto;
    text-align: center;
    color: #fff;
    font-family: $logo-font;
    font-size: 5rem;
  }

  .ui.grid {
    margin: auto;
    .field input {
      width: 100%;
      font-size: 1.5rem;
      border: 2px solid #fff;
      border-radius: 3px;
      background: transparent;
      color: #fff;
      box-shadow: none;
      &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #fff;
        opacity: 0.9;
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #fff;
        opacity: 0.9;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #fff;
        opacity: 0.9;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #fff;
        opacity: 0.9;
      }
    }

    .ui.button {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      width: 100%;
      font-size: 1.5rem;
      border: 2px solid #fff;
      background: transparent;
      color: #fff;
      box-shadow: none;

      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }
}

.ui.workouts.segment {
  width: 100%;
  background: #fff;

  border-radius: 0;
  margin: 0 !important;
  box-shadow: none;
  border: none;
  padding-bottom: 3rem;

  color: $green;

  h1.ui.header {
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: $green;
    font-size: 2rem;
    font-family: 'GT-Walsheim';
    margin: auto;
    text-align: center;
  }

  h2.ui.header {
    color: $green;
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
  }

  .field input {
    width: 100%;
    font-size: 1.5rem;
    border: 2px solid $green;
    border-radius: 3px;
    color: $green;
    box-shadow: none;
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: $green;
      opacity: 0.9;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $green;
      opacity: 0.9;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $green;
      opacity: 0.9;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $green;
      opacity: 0.9;
    }
  }

  .ui.button {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    border: 2px solid $green;
    background: transparent;
    color: $green;
    box-shadow: none;

    &:hover {
      background: $green;
      color: #fff;
    }
  }

  .workout.row {
    padding-bottom: 0;
    cursor: pointer;
  }

  .workout.row .box {
    width: 100%;
    background-color: #fff;
    color: $green;
    border: 2px solid $green;
    border-radius: 3px;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 1.5rem;
    .attr {
      font-size: 1.5rem;
    }
    .name.attr {
      float: left;
    }
    .days.attr {
      float: right;
    }
  }
}

.ui.workout.segment {
  width: 100%;
  min-height: 100%;
  background: #fff;

  border-radius: 0;
  margin: 0 !important;
  box-shadow: none;

  color: $green;

  h1.ui.header {
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    color: $green;
    font-size: 2rem;
    text-align: left;
    font-family: 'GT-Walsheim';
  }

  .buttons {
    display: inline-block;
    padding-top: 0.4rem;
    float: right;
    .button {
      display: inline-block;
      font-size: 1.25rem;

      background: $green;
      border: $green;

      &:hover {
        background: rgba(80, 172, 111, 0.9);
      }

      i {
        color: #fff;
      }

      .checkmark.icon {
        display: none;
      }
    }
  }

  .ui.grid {
    border: 2px solid $green;
    border-radius: 3px;
    margin: 0;
    margin-bottom: 1rem;

    .column {
      text-align: center;

      .field input {
        border: 1px solid $green;
        background: transparent;
        color: $green;

        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color: $green;
          opacity: 0.9;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: $green;
          opacity: 0.9;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: $green;
          opacity: 0.9;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: $green;
          opacity: 0.9;
        }
      }

      .ui.button {
        background: #fff;
        border: 1px solid $green;
        color: $green;

        &:hover {
          background: $green;
          color: #fff;
        }
      }
    }

    h2.ui.header {
      text-align: center;
      color: $green;
      font-family: 'GT-Walsheim';
    }
  }

  .exercise.display {
    border: 2px solid $green;
    border-radius: 3px;
    padding: 1rem;
    color: $green;
    background: #fff;
    margin-bottom: 1rem;

    padding: 0;

    .column {
      padding: 0;
    }

    .ui.header {
      color: $green;
      padding: 0;
      margin: 1rem;
    }

    h1.ui.header {
      font-size: 2rem;
      text-align: inherit;
      margin-top: 1rem;
    }

    h2.ui.header {
      font-size: 1.25rem;
      text-align: inherit;
      font-style: italic;
    }

    .four.wide.column {
      text-align: right;
    }

    .eleven.wide.column {
      text-align: left;
    }

    i {
      width: 100%;
      margin: auto;
      cursor: pointer;
    }

    .exercise.column .ui.fluid.image {
      padding: 1rem;
    }

    .delete.column {
      display: none;
      a {
        width: 100%;
        i {
          color: $green;
        }
      }
    }
  }
}
